.slidev-layout.visual03 { padding:42px 64px 66px; }
.slidev-layout.visual03 h1 { margin-bottom:18px; }
.slidev-layout.visual03 p { margin:14px 0; line-height:1.5; }
.slidev-layout.visual03 p code { white-space:nowrap; }
